.usersContainer {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}


.container {
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-auto-rows: 250px;
}

.card {
    display: flex;
    background: #e4ebf3;
    border-radius: 10px;
}

.card .imgBox {
    width: 50%;
    height: 100%;
}

.card .imgBox a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.userPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card .details {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    flex-direction: column;
}

.card .details h2 {
    padding: 0;
    font-size: 1.5em;
    line-height: 0.85em;
    font-weight: 600;
    margin-bottom: 20px;
}

.card .details span {
    font-size: 0.8em;
    color: #777;
    display: inline-block;
    margin-top: 10px;
}

.card .details button {
    display: inline-block;
    outline: none;
    padding: 5px 10px;
    margin-top: 10px;
    border: 2px solid #262626;
    color: #262626;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

.card .details button:hover {
    background: #262626;
    color: #007bff;
}

.selectedPage {
    font-weight: bold;
}

/*
@media screen and (max-width: 1200px) {
    .usersBox {
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .card {
        margin: 10px auto;
    }
}

@media screen and (max-width: 768px) {
    .card {
        margin: 10px auto;
    }

    .card .imgBox {
        position: relative;
        width: 100%;
        height: 200px;
    }

    .card .details {
        position: relative;
        width: 100%;
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .card {
        margin: 10px auto;
    }
}*/
